main {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_result {
    border: 5px solid black;
    width: 200px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}