main {
    text-align:center;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.search_result {
    border: 5px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px 5px;
}

.results_list {
    min-width: 250px;
    max-height: 80vh;
    overflow: scroll;
}