#do not track Excel files, only SQL
*.xlsx

#Jupyter notebook checkpoints
*.ipynb_checkpoints

#Temporary database files
*.db
*.db-journal
db.sqlite3

#IntelliJ files
.idea

#Pycache
**/__pycache__/
staticfiles/