<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Wingspan data visualization</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/stylesheet.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src={% static 'js/show_chart.js' %}></script>
</head>
<body>
<main>

<section id="search_area">
    <form method="GET">
        <b style="font-size:24px">Bird Archive</b><br><br>
    <input id="search" name="scientific_name" formmethod="get" placeholder="Enter scientific name...">
        {% csrf_token %}
    </form>
    <br>
<div id="results_list" class="results_list">
    {%  for bird in search_results %}
    <div class="search_result">
        <i>{{bird.scientific_name}}</i><br>
        🇳🇱 {{bird.nl_name}}<br>
        <span class="nest_capacity">{{bird.nest_capacity}}</span><br>
    <div style="text-align:right">
    {{bird.wingspan}}cm🪽 <br>
    <hr>
        {% if bird.worms > 0 or bird.wild > 0%}🐛{% endif %}
    {% if bird.grains > 0 or bird.wild > 0%}🌾{% endif %}
    {% if bird.berries > 0 or bird.wild > 0%}🍒{% endif %}
    {% if bird.rats > 0 or bird.wild > 0%}🐁{% endif %}
    {% if bird.fish > 0 or bird.wild > 0%}🐟{% endif %}
    </div>
    </div>
    {% endfor %}
    </div>
<script src={% static 'js/style_eggs.js' %}></script>
</section>

<section id="chart_area">
    <div>
    <label>
        <b style="font-size:24px">Property Distribution</b><br><br>
        <select name="1D_plot_property_selection" onchange="showChart(this.value)">
            <option selected disabled hidden value="">Inspect property...</option>
            <option value="victory_points">Victory points</option>
            <option value="nest_capacity">Nest capacity</option>
            <option value="wingspan">Wingspan</option>
        </select>
    </label>
    </div>
    <br>
    <div class="canvas-container">
    <canvas id="chart" width="1000" height="1000"></canvas>
        </div>
</section>

</main>
</body>
</html>