<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wingspan data visualization</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
<main>
    <form method="POST">
        <b style="font-size:24px">Bird Archive</b><br><br>
    <input id="search" name="scientific_name" placeholder="Enter scientific name...">
        {% csrf_token %}
    </form>
    <br>
    {%  for result in search_results %}
    <div class="search_result">{{result}}</div>
    {% endfor %}
</main>
</body>
</html>