<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Wingspan data visualization</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/stylesheet.css'%}">
</head>
<body>
<main>
    <form method="POST">
        <b style="font-size:24px">Bird Archive</b><br><br>
    <input id="search" name="scientific_name" placeholder="Enter scientific name...">
        {% csrf_token %}
    </form>
    <br>
<div id="results_list" class="results_list">
    {%  for bird in search_results %}
    <div class="search_result">
        <i>{{bird.scientific_name}}</i><br>
        🇳🇱 {{bird.nl_name}}<br>
        <span class="nest_capacity">{{bird.nest_capacity}}</span><br>
    <div style="text-align:right">
    {{bird.wingspan}}cm🪽 <br>
    <hr>
        {% if bird.worms > 0 or bird.wild > 0%}🐛{% endif %}
    {% if bird.grains > 0 or bird.wild > 0%}🌾{% endif %}
    {% if bird.berries > 0 or bird.wild > 0%}🍒{% endif %}
    {% if bird.rats > 0 or bird.wild > 0%}🐁{% endif %}
    {% if bird.fish > 0 or bird.wild > 0%}🐟{% endif %}
    </div>
    </div>
    {% endfor %}
    </div>
</main>
<script src={% static 'js/style_eggs.js' %}></script>
</body>
</html>